#funderDiv {
	width:250px;
	float: left;
	margin:10px;
	border:1px solid #F7f7f7;
}

#price:before {
	content: "$"
}
#price {
	float: right;
}

#funderImg {
	width:250px;
	height:250px;

}

#container {
	width:900px
}