#addHeader {
	background-color: #0489D6;
	height: 40px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#addDiv {
	width:500px;
	position: relative;
}

#addDiv input{
	width:300px;

}

#addSubmit {
	display: block;
	width:100px;
	padding:10px;
	border-radius:5px;
	outline:none;
	border:1px solid #F7F7F7;
	background-color: #0489D6;
	color:#fff;
}

#addInputDiv {
	width:300;
	margin:auto;
}